/* Nav bar */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.icon{
    width: 60px;
    height: 60px;
    object-fit: contain;
    vertical-align: middle;
}

.truenav {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.truenav:hover,
.truenav.active {
    color: #000;
}
@media (min-width: 991px){
    .truenav::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .navbar{
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(10px);          
        -webkit-backdrop-filter: blur(10px);
    }

    .truenav:hover:before,
    .truenav.active:before{
        width: 100%;
        visibility: visible;
    }
}
/* .teste0101{
    background-color: #009970;
    height: 100vh; 
    width: 100vw; 
    margin: 0 auto;
} */

